<!DOCTYPE html>
<html lang="es-ES">

<head>
  <meta http-equiv="content-type" content="text/html; charset=windows-1252">
  <link rel="shortcut icon" href="">
  <title>Parkinator</title>
</head>

<body>
  <header>
    <center> <a href="../Index/Index.html">
        <div id="cabeza"></div>
      </a> </center>
  </header>
  <section> <br>
    <div id="fondo">
      <center>
        <div class="text" style="width: 1182.78px; margin-left: 251px;">
          <center>
            <h2>Formulario Parkinator</h2>

            <body id="fpanta">

              <div>
                <form action="" method="get"></form>
                <div>
                  <fieldset id="acero">
                    <legend>Datos personales:</legend>

                    <p>Nombre del Usuario: <input type="text" name="nombre" size="40"
                        placeholder="Escriba su nombre y sus dos apellidos"></p>
                    <p>DNI del Usuario: <input type="text" name="ID" size="40" placeholder="Escriba su DNI"></p>
                    <p>Marca y modelo del vehiculo: <input type="text" name="MarcaYModelo" size="30"
                        placeholder="Marca y modelo"></p>
                    <p>Matricula del vehiculo: <input type="text" name="matricula" size="12"
                        placeholder="Matricula del vehiculo"></p>
                    <p>Año de nacimiento: <input type="date" name="fecha"></p>
                    <p> Añada algun dato a tener en cuenta: </p>
                    <textarea name="comentarios" id="comentarios" cols="100" rows="10"
                      placeholder="Haga una breve descripción de usted"></textarea>
                  </fieldset>
                  <p>
                    <button>
                      <img src="enviar.PNG" alt="imagen" width="32" height="32" style="vertical-align: middle">
                      Enviar
                    </button>
                    <button type="reset">
                      <img src="borrar.PNG" alt="imagen" width="32" height="32" style="vertical-align: middle">
                      Borrar
                    </button>
                  </p>


                  </form>

                </div>
          </center>
        </div>
      </center>
  </section>
  <br>
  <footer>
    <center>
      <div id="footer" style="height: 122px;">
        <h5>
          <p>Creadores: Alejandro Moreno Garrido, Amanda Navas Rodriguez, Gonzalo Ruiz Azuar</p>
        </h5>
      </div>
    </center>
  </footer>
</body>

</html>