
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="#" method="post" th:action="@{/CreateUser}" th:object="${userDao}">
    <div th:if="${#fields.hasErrors('*')}"> 
      <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p> 
  </div>        

    <legend>Datos personales:</legend>
    <p>Email: <input type="text" name="Email" size="40" placeholder="correo electronico" th:field="*{email}"></p>
    <p>Nombre del Usuario: <input type="text" name="nombre" size="40" placeholder="Escriba su nombre" th:field="*{nombre}"></p>
    <p>Apellido1: <input type="text" name="apellido1" size="40" placeholder="Escriba su segundo apellido" th:field="*{apellido1}"></p>      
    <p>Apellido2: <input type="text" name="apellido2" size="40" placeholder="Escriba su segundo apellido" th:field="*{apellido2}"></p>
    <select th:field="*{Role}">
      <option th:each="role: ${roles}" 
              th:value="${role}" 
              th:text="${role.getDisplayName()}">
      </option>
  </select>
    <button type="submit">Guardar</button>
  </form>
</body>
</html>