<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de sorteos</h1>
    <table>
        <thead>
            <tr>
                <td>
                    Estado
                </td>
                <td>
                    Fecha
                </td>
                <td>
                    Descripcion
                </td>
            </tr>
        </thead>
    <tr th:each="Sorteos: ${Sorteos}">
        <td th:text="${Sorteos.Estado}"></td>
        <td th:text="${Sorteos.Fecha}"></td>
        <td th:text="${Sorteos.Descripcion}"></td>
    </tr>    
</table>
</body>
</html>